.block-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.block {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: solid 1px #000;
  background-color: #FFF;
  font-family: $font-monospace;
  font-size: .8rem;
  overflow: hidden;
}

.block--selected {
  outline: solid 2px $primary-color;
}

.block__handle {
  position: relative;
  opacity: 0;
  background-color: rgba(red, .5);
  z-index: 10000;
  border-radius: 1000px;
}

.block__handle:hover {
  opacity: 1;
}

.block__corner-handle {
  background-color: transparent;
  z-index: 100000;
}

.block__actions {
  min-width: 100px;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  border: solid 1px #000;
  border-radius: 3px;
  background-color: #FFF;
}

.block__action {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  &:hover {
    background-color: #f5f5f5;
  }
  &:not(:last-child) {
    border-right: 1px solid #ddd;
  }
}

.block__name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  text-transform: lowercase;
}

.block__name-input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: 100%;
  box-shadow: 0px 0px 1px 1px #000;
  border: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  text-transform: lowercase;
  font-family: $font-monospace;
}