.insert-menu {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
}

.insert-menu__item {
  width: 40px;
  height: 40px;
  background-color: #FFF;
  box-shadow: 0px 3px 6px rgba(#000, .2);
  border-radius: 100%;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.insert-menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.insert-menu__item:hover {
  transform: scale(1.2);
  background-color: $primary-color;
  color: #FFF;
  box-shadow: 0px 2px 10px rgba($primary-color, .5);
}