/* ---------------------------------------- */
/* Color
/* ---------------------------------------- */

$primary-color:               rgb(220, 43, 43);

/* ---------------------------------------- */
/* Typography
/* ---------------------------------------- */

// Specify fonts
$font-sans-serif:             'Source Sans Pro', sans-serif;
$font-monospace:              'IBM Plex Mono', monospace;

// Font settings
$font-face:                   $font-sans-serif;

/* ---------------------------------------- */
/* Components
/* ---------------------------------------- */

// ...

/* ---------------------------------------- */
/* Layout
/* ---------------------------------------- */

// Sidebar
$sidebar-width:               300px;
$sidebar-height:              100%;

// Navbar
$navbar-width:                calc(100% - #{$sidebar-width});
$navbar-height:               80px;

// Viewport
$viewport-width:              calc(100% - #{$sidebar-width});
$viewport-height:             calc(100% - #{$navbar-height});

// Block
$block-font:                  $font-monospace;

// Insert menu
$insert-menu-item-size:    50px;